#map {
    height: 100vh;
}
mark.highlighted {
    background-color: #fefa04;
}
.details-container {
    height: 100vh;
    overflow-y: scroll;
}
.search-box {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}