#map {
    height: 100vh;
}
mark.highlighted {
    background-color: #fefa04;
}
.details-container {
    height: 100vh;
    overflow-y: scroll;
}
.search-box {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}
button.close-btn {
    z-index: 99999999;
}
.gm-style-iw{
    max-height: 400px!important;
}
.info-window-container {
    width: 300px;
}

@media (max-width: 992px) {
    .aside {
        order: 1
    }
    #map {
        height: 90vh;
    }
    .interests-title {
        font-size: 32px;
    }
    .info-window-container {
        max-width: 100%;
    }
}
